https://www.ncss.com/software/ncss/procedures/

# First Experiments of my PhD

Datasets used to train the model:

1. [Wine](https://www.kaggle.com/nareshbhat/wine-quality-binary-classification)
2. [Heart](https://www.kaggle.com/ronitf/heart-disease-uci)
3. [Diabetes](https://www.kaggle.com/uciml/pima-indians-diabetes-database)
4. [Books_LIME](https://www.cs.jhu.edu/~mdredze/datasets/sentiment/index2.html)

Interpreters used:
    
1. [SHAP](https://github.com/slundberg/shap)
2. [LIME](https://github.com/marcotcr/lime)
3. [DICE](https://github.com/interpretml/DiCE)

# EDA

In [8]:
import pandas as pd
import numpy as np
from datetime import timedelta, date
import datetime as dt


diabetes = pd.read_csv('data/datasets_228_482_diabetes.csv', sep = ',')
heart = pd.read_csv('data/datasets_33180_43520_heart.csv', sep = ',')
wine = pd.read_csv('data/datasets_794161_1363233_wine.csv', sep = ',')

print("----------------------------------------------------------------------------------------------")
display(diabetes.head(n = 5))
print("----------------------------------------------------------------------------------------------")
display(heart.head(n = 5))
print("----------------------------------------------------------------------------------------------")
display(wine.head(n = 5))
print("----------------------------------------------------------------------------------------------")

----------------------------------------------------------------------------------------------

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

----------------------------------------------------------------------------------------------

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

----------------------------------------------------------------------------------------------

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,bad
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,bad
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,bad
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,good
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,bad

----------------------------------------------------------------------------------------------

The datasets has different names for target variables according to kaggle. In the next cell we will rename de the outcome/quality to 'target' just to keep all of them equal

In [9]:
import pandas as pd
import numpy as np
from datetime import timedelta, date
import datetime as dt


diabetes.rename({'Outcome' : 'target'}, inplace=True, axis=1)

wine['target'] = np.select(
    [
        wine['quality'] == 'bad' , 
        wine['quality'] == 'good'
    ], 
    [
        0, 
        1
    ]
)

# removing the old target
wine = wine[wine.columns.drop(list(wine.filter(regex='quality')))]

wine.to_csv('data/diabetes_limpo.csv', sep = ',')
diabetes.to_csv('data/wine_limpo.csv', sep = ',')

The number of instances, predictors and data type of each variable:

In [46]:

print("----------------------------------------------------------------------------------------------")
display("Dataset diabetes has {0} lines and {1} columns".format(diabetes.shape[0], diabetes.shape[1]))
print("----------------------------------------------------------------------------------------------")
display("Dataset heart has {0} lines and {1} columns".format(heart.shape[0], heart.shape[1]))
print("----------------------------------------------------------------------------------------------")
display("Dataset wine has {0} lines and {1} columns".format(wine.shape[0], wine.shape[1]))
print("----------------------------------------------------------------------------------------------")

#Data Types
print("----------------------------------------------------------------------------------------------")
display(diabetes.dtypes)
print("----------------------------------------------------------------------------------------------")
display(heart.dtypes)
print("----------------------------------------------------------------------------------------------")
display(wine.dtypes)
print("----------------------------------------------------------------------------------------------")

----------------------------------------------------------------------------------------------

'Dataset diabetes has 768 lines and 9 columns'

----------------------------------------------------------------------------------------------

'Dataset heart has 303 lines and 14 columns'

----------------------------------------------------------------------------------------------

'Dataset wine has 1599 lines and 12 columns'

----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
target                        int64
dtype: object

----------------------------------------------------------------------------------------------

age         float64
sex         float64
cp          float64
trestbps    float64
chol        float64
fbs         float64
restecg     float64
thalach     float64
exang       float64
oldpeak     float64
slope       float64
ca          float64
thal        float64
target        int64
dtype: object

----------------------------------------------------------------------------------------------

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
target                    int64
dtype: object

----------------------------------------------------------------------------------------------

Number of missing values by column:

In [4]:
#Null
print("----------------------------------------------------------------------------------------------")
display(diabetes.isna().sum())
print("----------------------------------------------------------------------------------------------")
display(heart.isna().sum())
print("----------------------------------------------------------------------------------------------")
display(wine.isna().sum())
print("----------------------------------------------------------------------------------------------")

----------------------------------------------------------------------------------------------

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
target                      0
dtype: int64

----------------------------------------------------------------------------------------------

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

----------------------------------------------------------------------------------------------

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
target                  0
dtype: int64

----------------------------------------------------------------------------------------------

Basic statistics of the datasets:

In [5]:
#Basic statistics
print("----------------------------------------------------------------------------------------------")
display(diabetes.describe(include = 'all'))
print("----------------------------------------------------------------------------------------------")
display(heart.describe(include = 'all'))
print("----------------------------------------------------------------------------------------------")
display(wine.describe(include = 'all'))
print("----------------------------------------------------------------------------------------------")

----------------------------------------------------------------------------------------------

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,target
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

----------------------------------------------------------------------------------------------

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

----------------------------------------------------------------------------------------------

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,target
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,0.534709
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.498950
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,0.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,0.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,1.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,1.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,1.000000

----------------------------------------------------------------------------------------------